<h1>{{message}}</h1>

<div class="row">
  <div class="col-md-12">
    <input type="text" class="form-control" placeholder="Player Name" ng-model="player" ng-hide="hideInput">
    <button class="btn btn-default" ng-click="start()" ng-hide="hideInput">Start</button>
    <button class="btn btn-default" ng-click="continueLevel()" ng-hide="hideContinue">Continue</button>
  </div>
  <div class="col-md-12">
    <canvas id="canvas" height="700" width="925" ng-click="diffuseBomb($event)">Canvas is not supported</canvas>
  </div>
</div>
