#container {
  padding: 5px;
  max-width: 650px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}

.heading {
  border-bottom: 1px solid whitesmoke;
}

.col-1-2 {
  float: left;
  width: 50%;
}

.right-col {
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 5px;
  min-height: 300px;
}

.left-col {
  border-left: 1px solid whitesmoke;
  padding: 5px;
  min-height: 300px;
}

.hide {
  display: none;
}

input {
  width: 100%;
  padding: 2px 0;
  margin: 4px 0;
  border-radius: 4px;
}
