#container {
  padding: 5px;
  max-width: 650px;
  margin: 0 auto;
}

header {
  background-color: whitesmoke;
}

h1, h5 {
  text-align: center;
  margin: 0;
  padding: 10px;
}

h5 {
  margin: 10px 0;
}


.col-1-2 {
  float: left;
  width: 50%;
}

.right-col {
  border-left: 1px solid whitesmoke;
  padding: 7px;
  min-height: 300px;
}

.left-col {
  padding: 5px;
  min-height: 300px;
  max-height: 500px;
  overflow: hidden;
}

.content {
  border: 1px solid whitesmoke;
  float: left;
}

.hide {
  display: none;
}

input {
  width: 100%;
  padding: 3px 0 3px 2px;
  margin: 4px -3px 4px -3px;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 5px;
  margin: 2px 0;
}

.error {
  margin: 5px;
  text-align: center;
  color: red;
}

footer {
  float: left;
  width: 100%;
  background-color: whitesmoke;
}
