#canvas-maze {
  position: absolute;
  top: 0;
  right: 0;
  outline: solid 1px black;
  display: block;
}
#canvas-explorer {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}
.canvas-wrapper {
  margin-top: 25px;
  margin-left: -250px;
  position: relative;
  top: 0;
  left: 50%;
  display: block;
  height: 500px;
  width: 500px;
}